{% extends "admin-panel/base.html" %}
{% block page_title %}{{ action }} Experience{% endblock %}
{% block page_title_header %}{{ action }} Experience{% endblock %}
{% block nav_experience %}active{% endblock %}

{% block content %}
<div class="page-header">
  <h2>{{ action }} Experience</h2>
  <a href="{% url 'admin_panel:experience' %}" class="btn-panel btn-secondary-panel"><i class="fa-solid fa-arrow-left"></i> Back</a>
</div>
<div class="panel-card" style="max-width:720px;">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include "admin-panel/includes/form_fields.html" with form=form %}
    <button type="submit" class="btn-panel btn-primary-panel"><i class="fa-solid fa-floppy-disk"></i> Save</button>
  </form>
</div>
{% endblock %}
